.header {
    display: block;
    border-bottom: 1px solid #e6e6e6;
    position: relative;
    top: auto;
    left: auto;
    padding: 0;
    width: auto;
    height: auto;
    background-color: #fff;
}

.topline-row{
    background-color: #eaeaea;
    width: 100%;
}

.topline-buttons{
    display: flex;
    width: 50%;
    align-items: center;
    padding-top: 10px;
    justify-content: left;
    padding-bottom: 10px;
}
.topline-buttons li{
    display: inline-block;
    width: max-content;
    margin-right: auto;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    max-width: 1440px;
}

.header__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20%;
    padding-right: 20%;
}

.main-menu {
    display: flex;
    justify-content:flex-start;
    padding-left: 20%;
    padding-right: 20%;
    border-bottom: 1px solid #e6e6e6;
}

body {
    min-width: 320px;
    min-height: 100%;
    font-family: MuseoSansCyrl,Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.35;
    color: #3a3a3a;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    display: block;
}
.catalog-menu_list{
    width: 70%;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: left;
    padding-top: 10px;
    padding-bottom: 10px;
}
.catalog-menu_list li {
    margin-right: auto;
    width: max-content;
    display: inline-block;
}
.main-menu_row{
    height: 100%;
}
.main-menu_catalog{
    height: 100%;
}
.catalog-menu{
    height: 100%;
}

