.header {
    border-bottom: 1px solid #e6e6e6;
    background-color: #fff;
}

.topline-row{
    background-color: #eaeaea;
}

.topline-buttons li{
    display: inline-block;
    padding: 14px;
    font-size: 13px;
}

.search-input:after {content:""; clear:both; display:table}
.search-input{
    margin: 0 auto;
}
.search-input input {
    width: 100%;
    height: 42px;
    padding-left: 15px;
    border-radius: 42px;
    border: 3px solid #ffbc00;
    outline: none;
    position: relative;
    transition: .3s linear;
}
.search-input input:focus {
    background: #ffbc00;
    color: #fff;
}
.search-input input::placeholder {color:darkgray}
.search-input input:focus::placeholder {
    color:transparent;
}

.search-input button {
    width: 42px;
    height: 42px;
    border: none;
    background: none;

}
.search-input button:before{
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
}

.city a{
    margin: 30px auto;
    padding-left: 40px;
    display: block;
    font-size: 13px;
}
.shops a{
    margin: 10px auto 5px;
    display: block;
    text-align: right;
    font-size: 13px;

}

body {
    min-height: 100%;
    font-family: MuseoSansCyrl,Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.35;
    color: #3a3a3a;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.main-menu {
    border-bottom: 1px solid #e6e6e6;
}

.catalog-menu_list li{
    display: inline-block;
    padding-top: 18px;
}
.catalog-menu_list li a{
    color: inherit;
    font-size: 16px;
    font-weight: bold;
    color: gray;
}

.old-price{
    font-size: 20px;
    color: #8a8a8a;
}
.curr-price{
    font-size: 46px;
    color: #8a8a8a;
}
.availability{
    color: #8a8a8a;
}
.buy-btn{
    border:2px solid #0093ff;
    box-shadow: 0 5px 8px rgba(47,114,155,.2);
    border-radius: 24px;
}



