.carousel-swiper{
    margin: 40px 0 50px;
}
.carousel-swiper__header{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 25px;
}

.carousel-swiper__nav{
    margin: 0;
}

.carousel-swiper__button{
    position: relative;
    width: 34px;
    height: 34px;
    border: 1px solid #0093ff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #0093ff;
    background-color: #fff;
}

.carousel-swiper__button svg{
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.carousel-swiper__slide{
    display: flex;
    justify-content: space-between;
}
